*
{
    box-sizing: border-box;
}

html,
body,
#applicationRoot
{
    height: 100%;
}

html
{
    font-size: $base-font-size;
}

body
{
    font-family: $base-font-family;
    font-weight: $base-font-weight;
}

@media only screen and (max-width: $breakpoint-mobile)
{
    html
    {
        font-size: $base-font-size-mobile;
    }
}
