.button
{
    appearance: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    transition: linear all 150ms;

    &--primary
    {
        background-color: transparent;
        border: 1px solid $color-white;
        color: $color-white;

        &:hover
        {
            background-color: $color-white;
            color: $color-black;
        }
    }
}
